<header class="header" [ngClass]="classMenuOpen || ''">
  <div class="container-l">
    <div class="header__content">
      <div class="header__logo">
       <a routerLink="/">
         <img [src]="logo"/>
       </a>
      </div>
      <div class="menu-toggle" [ngClass]="classMenuBtn || ''" (click)="menu()">
        <div class="hamburger"></div>
      </div>
      <nav class="header__site-nav" [ngClass]="classMenuItems || ''">
        <ul *ngIf="items?.length > 0">
          <li *ngFor="let item of items">
            <a class="items" [routerLink]="item?.link">{{item?.label}}</a>
          </li>
          <li>
            <a class="btn-blue" routerLink="/">
              Login
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

