<header class="header" [ngClass]="[classMenuOpen || '', classHeader || '']">
  <div class="container-l">
    <div class="header__content">
      <div class="header__logo">
       <a routerLink="/">
         <img [src]="logo"/>
       </a>
      </div>
      <div class="menu-toggle" [ngClass]="classMenuBtn || ''" (click)="menu()">
        <div class="hamburger"></div>
      </div>
      <nav class="header__site-nav" [ngClass]="classMenuItems || ''">
        <ul *ngIf="items?.length > 0">
          <li *ngFor="let item of items">
            <a *ngIf="item?.link?.substring(0, 1) === '/'; else ancla"
                class="items"
               [routerLink]="item?.link">{{item?.label}}</a>
            <ng-template #ancla>
              <a class="items" (click)="anchor(item?.link)">{{item?.label}}</a>
            </ng-template>
          </li>
          <li>
            <a class="btn-blue" routerLink="/login">
              Login
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

