<section class="networks-woloxer">
    <div class="container-l n-padding">
      <div class="networks-woloxer__row-content">
        <div class="networks-woloxer__col">
          <div class="content-image">
            <img [src]="image"/>
            <div class="networks-woloxer__info">
              <p><strong><span class="green">350 + </span><span class="blue">Woloxers</span></strong></p>
              <p class="p-wolox"><img src="../../../assets/img/icon-twitter.png"/> @Wolox</p>
              <div class="networks-woloxer__btn">
                <a class="btn-blue" routerLink="/">
                  Siguenos
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="networks-woloxer__col">
          <div class="content">
            <h2>Trabajamos para <strong><span class="blue">convertir </span> <span class="green">ideas</span></strong> en productos.</h2>
          </div>
        </div>
      </div>
    </div>
</section>
