<section class="networks-woloxer">
    <div class="container-l n-padding">
      <div class="networks-woloxer__row-content">
        <div class="networks-woloxer__col">
          <div class="content-image">
            <img [src]="image"/>
            <div class="networks-woloxer__info">
              <p><strong><span class="green">350 + </span><span class="blue">Woloxers</span></strong></p>
              <p class="p-wolox"><img src="../../../assets/img/icon-twitter.png"/> @Wolox</p>
              <div class="networks-woloxer__btn">
                <a *ngIf="link?.substring(0, 1) === '/'; else normal"
                   class="btn-blue"
                   [routerLink]="link">Siguenos</a>
                <ng-template #normal>
                  <a class="btn-blue" [href]="link" target="_blank">Siguenos</a>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <div class="networks-woloxer__col">
          <div class="content">
            <h2>Trabajamos para <strong><span class="blue">convertir </span> <span class="green">ideas</span></strong> en productos.</h2>
          </div>
        </div>
      </div>
    </div>
</section>
