<section class="banner" id="banner">
    <div class="container-l">
      <div class="banner__row-content">
        <div class="banner__col">
          <div class="content">
            <h1 data-aos="fade-right">Bienvenido a tu <strong>Entrevista Técnica</strong> en <strong><span>Wolox</span></strong></h1>
          </div>
        </div>
        <div class="banner__col">
          <div class="content-image">
            <img data-aos="fade-left" [src]="image"/>
          </div>
        </div>
      </div>
    </div>
</section>
