<section class="benefits">
    <div class="container-l">
      <div class="benefits__description">
        <p>Entre los beneficios que ofrecemos se encuentran <span class="blue">;)</span></p>
      </div>
      <div class="benefits__row-content">
        <div class="benefits__col" *ngFor="let item of items">
          <div class="benefits__content">
            <div class="benefits__image">
              <img [src]="item?.img" alt="icon" title="icon"/>
            </div>
            <p class="benefits__label">
                {{item?.label}}
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
