<div class="layout">
  <section class="login container-l">
    <div class="layout__logo">
      <img [src]="logo"/>
    </div>
    <div class="layout__content">
      <div class="search__content">
        <div class="input-container">
          <label>Ingresa nombre del pokemon:</label>
          <input (keyup)="search()" [(ngModel)]="namePokemon"/>
          <p class="result" *ngIf="namePokemon && dataTemp?.length > 0; else noFound">
            Resultados para: '<strong>{{namePokemon}}</strong>'</p>
          <ng-template #noFound>
            <p class="result" *ngIf="namePokemon">
              No se encontraron resultados para: '<strong>{{namePokemon}}</strong>'</p>
          </ng-template>
        </div>
      </div>
      <div class="content-btn" *ngIf="btnFlag">
        <button class="btn-blue-bg"  routerLink="/compare">Comparar</button>
      </div>
      <div class="row__content" *ngIf="listPokemonService.allPokemon$ | async as allPokemon">
        <ng-container *ngIf="dataTemp?.length > 0; else normal">
          <div class="col__content" *ngFor="let pokemon of dataTemp">
            <p *ngIf="pokemon?.name">{{pokemon?.name}}</p>
            <div class="input-container">
              <input type="checkbox" [name]="pokemon?.name"
                     (change)="onChange(pokemon.url, $event.target.checked)"
                     [disabled]="isDisabled">
            </div>
          </div>
        </ng-container>
        <ng-template #normal>
          <div class="col__content" *ngFor="let pokemon of allPokemon">
            <p *ngIf="pokemon?.name">{{pokemon?.name}}</p>
            <div class="input-container">
              <input type="checkbox" [name]="pokemon?.name"
                     (change)="onChange(pokemon.url, $event.target.checked)"
                     [disabled]="isDisabled">
            </div>
          </div>
        </ng-template>
      </div>
      <div class="pagination__content">
        <select [(ngModel)]="countPagination" (ngModelChange)="getNewCant()">
          <option *ngFor="let item of pagination"
                  [value]="item">{{item}}</option>
        </select>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
