$color-black: #000000;
$color-white: #ffffff;
$color-purple-opacity: #3a306182;
$color-purple: #3A3061;
$color-purple-dark: #392F63;
$color-gray: #F5F5F5;
$color-gray-opacity: #9692AE;
$color-blue-clear: #2FC0BA;
$color-blue-medium: #37D0C8;
$color-gray-clean: #f5f5f5b8;
$color-white-clean: #e6e6e6;
$color-white-gray: #cccccc;

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;600&display=swap');
