$color-black: #222b3e;
$color-black-clear: #1d263a;
$color-white: #ffffff;
$color-purple-opacity: #3a306182;
$color-purple: #3A3061;
$color-purple-dark: #392F63;
$color-gray: #f2f5fa;
$color-gray-opacity: #9692AE;
$color-blue-clear: #55aae0;
$color-blue-medium: #54a8df;
$color-gray-clean: #363f53;
$color-white-clean: #e6e6e6;
$color-white-gray: #cccccc;
$color-green: #97cf00;
$color-bg-layout: #f3f3f3;

//
$responsive: 990px;

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;600&display=swap');
